{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(form) }}
    </div>
    <div class="row">
        <p class="col-12">Auteur : 
            {% if task.user is not null %}
                {{ task.user.username }}
            {% else %}
                Anonyme
            {% endif %}
        </p>
    </div>
{% endblock %}
